<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/style_index.css" />
    <title>Node with EJS</title>
  </head>
  <body>
    <section>
      <div class="header">
        <div id="logo">
          <h1>LO</h1>
          <strong>GO</strong>
        </div>

        <div id="menu">
          <a href="#">Fazer uma pergunta</a>
        </div>
      </div>
    </section>

    <section id="about">
      <div id="description">
        <h1>Ask to the Experts</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus,
          facilis maiores obcaecati quibusdam ad est consequatur nihil repellat
          cumque quas id repudiandae voluptatibus. Dicta recusandae in
          perspiciatis architecto aliquid rerum?
        </p>
      </div>

      <div id="image"></div>
    </section>

    <section id="search-ask">
      <div id="info-search">
        <h3>Ask a Question?</h3>
        <p>
          You can ask your question/post on our community by providing all the
          required detalis
        </p>
      </div>

      <div id="search-form">
        <form id="search">
          <input type="text" placeholder="Enter your search terms..." />
          <button type="submit">Search</button>
        </form>
      </div>
    </section>

    <section id="categories">
      <h3>Or Browse categories</h3>

      <div class="cards">
        <div class="categories-card">
          <div class="cart-title">
            <h3>Travel</h3>
          </div>

          <div class="card-description">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate eveniet atque temporibus
            </p>
          </div>

          <button class="card-button" type="submit">Visualizar</button>
        </div>

        <div class="categories-card">
          <div class="cart-title">
            <h3>Travel</h3>
          </div>

          <div class="card-description">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate eveniet atque temporibus
            </p>
          </div>

          <button class="card-button" type="submit">Visualizar</button>
        </div>

        <div class="categories-card">
          <div class="cart-title">
            <h3>Travel</h3>
          </div>

          <div class="card-description">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Cupiditate eveniet atque temporibus
            </p>
          </div>

          <button class="card-button" type="submit">Visualizar</button>
        </div>
      </div>
    </section>

    <section id="quick-answer"></section>
  </body>
</html>
