<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/style_index.css" />
    <title>Node with EJS</title>
  </head>
  <body>
    <header><%- include('../public/partials/header'); %></header>

    <section id="headline">
      <%- include('../public/partials/headline'); %>
    </section>

    <section id="search-ask">
      <%- include('../public/partials/search'); %>
    </section>

    <main id="categories"><%- include('../public/partials/main'); %></main>

    <section id="quick-answer"></section>
  </body>
</html>
