<section>
  <div class="header">
    <div id="logo">
      <h1>LO</h1>
      <strong>GO</strong>
    </div>

    <div id="menu">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ARTICLES</a></li>
        <li><a href="#">QUESTIONS</a></li>
        <li id="btn-ask"><button type="submit">ASK</button></li>
        <li id="btn-login"><button type="submit">LOGIN</button></li>
      </ul>
    </div>
  </div>
</section>
