<h3>Or Browse categories</h3>

<div class="cards">
  <div class="categories-card">
    <div class="cart-title">
      <h3>Travel</h3>
    </div>

    <div class="card-description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
        eveniet atque temporibus
      </p>
    </div>

    <button class="card-button" type="submit">Visualizar</button>
  </div>

  <div class="categories-card">
    <div class="cart-title">
      <h3>Travel</h3>
    </div>

    <div class="card-description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
        eveniet atque temporibus
      </p>
    </div>

    <button class="card-button" type="submit">Visualizar</button>
  </div>

  <div class="categories-card">
    <div class="cart-title">
      <h3>Travel</h3>
    </div>

    <div class="card-description">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate
        eveniet atque temporibus
      </p>
    </div>

    <button class="card-button" type="submit">Visualizar</button>
  </div>
</div>
