<div id="info-search">
  <h3>Ask a Question?</h3>
  <p>
    You can ask your question/post on our community by providing all the
    required detalis
  </p>
</div>

<div id="search-form">
  <form id="search">
    <input type="text" placeholder="Enter your search terms..." />
    <button type="submit">Search</button>
  </form>
</div>
